<!doctype html>
<html lang="de" class="bg-black">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Dr. Max Mustermann – Fachanwalt für Strafrecht mit langjähriger Erfahrung in Strafverteidigung." />
    <link rel="stylesheet" href="/src/css/output.css" />
    <link rel="shortcut icon" href="/src/assets/images/icons/waage_fav.png" type="image/x-icon" />
    <title>Strafverteidigung – Dr. Max Mustermann</title>
  </head>
  <body></body>
</html>
