<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/css/style.css" />
    <link
      rel="shortcut icon"
      href="/src/assets/images/company/mw-favicon.svg"
      type="image/x-icon"
    />
    <title>Header</title>
  </head>
  <body>
    <div class="container">
      <header class="site-header">
        <div class="company-logo">
          <img
            class="company-logo__img"
            src="/src/assets/images/company/company-logo.svg"
            alt="Firmenlogo"
            style="width: 150px; height: 150px"
          />
        </div>
        <nav class="main-nav">
          <ul class="main-nav__list">
            <li class="main-nav__item">
              <a
                class="main-nav__link main-nav__link--active"
                href=""
                aria-current="page"
                >Start</a
              >
            </li>
            <li class="main-nav__item">
              <a class="main-nav__link" href="">Leistungen</a>
            </li>
            <li class="main-nav__item">
              <a class="main-nav__link" href="">Projekte</a>
            </li>
            <li class="main-nav__item">
              <a class="main-nav__link" href="">Über mich</a>
            </li>
            <li class="main-nav__item">
              <a class="main-nav__link" href="">Kontakt</a>
            </li>
          </ul>
        </nav>
      </header>
    </div>
  </body>
</html>
